:root{
  --bg-dark:#1F2937;
}

header{
  --main-text-font: 48px;
  --main-text-color: #F9FAF8;
  --sec-text-font: 18px;
  --sec-text-color: #E5E7EB;
  --logo-text-font: 24px;
  --logo-text-color: #F9FAF8;
}
main{
  --button-color: #3882F6;
  --info-text-font:36px;
  --info-text-color:#1F2937;
  --quote-bg-color: #E5E7EB;
  --quote-text-font: 36px;
  --quote-text-color: #1F2937;
}

*{
  margin:0;
  padding:0;
}

body{
  margin: 16px 48px;
}

header{
  background-color:
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

ul, li{
  list-style: none;
}

.flex{
  display: flex
}

.flex div{
  flex:1
}

.sb{
  justify-content: space-between;
}

.sa{
  justify-content: space-around;
}
