*{
  padding: 0;
  margin:0;
}

ul,li{
  list-style-type: none;
}

.container{
  padding: 16px 48px;
}

/* header */
.nav,
.links{
  display: flex;
}

.logo,
.links{
  flex:1;
}

.links{
  justify-content: flex-end;
  gap: 16px;
}

/* hero */

.hero{
  padding: 48px 0;
  display: flex;
  gap: 36px;
}

.hero div{
  flex:1
}
.hero-info{
  max-width:40%
}

/* info section */
.info{
  text-align: center;
}
.info-cards{
  display: flex;
  justify-content: center;
  gap: 24px;
}

.info-card{
  max-width: 140px;
}

/* testimonial section */
.testimonial{
  padding: 48px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonial-quote{
  max-width: 800px;
}

.testimonial-signature{
align-self: flex-end;
}

